.outer_wrap {
  width: 1180px;
  margin: 0 auto;
  background: #eeeeee;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5); }

.header {
  height: 60px;
  background: #f3f3f3;
  border-bottom: 6px solid #3ab7ae; }
  .header > a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left; }

.headcap {
  width: 995px;
  height: 60px;
  float: left; }
  .headcap > div {
    width: 256px;
    height: 49px;
    padding-top: 11px;
    padding-left: 27px;
    float: left; }
    .headcap > div span {
      font-size: 14px;
      color: #919191;
      line-height: 39px;
      height: 39px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      float: left; }
    .headcap > div span.name {
      color: #33363f;
      margin-left: 5px;
      margin-right: 13px; }
    .headcap > div img.self {
      max-width: 39px;
      width: auto !important;
      width: 39px;
      border-radius: 20px; }
    .headcap > div i {
      width: 20px;
      height: 20px;
      background: url("../img/signout.png") center center no-repeat;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin-top: 9px;
      margin-left: 16px;
      cursor: pointer; }
  .headcap ul {
    float: right;
    width: 320px;
    padding-right: 28px; }
    .headcap ul li {
      float: left; }
      .headcap ul li a:hover {
        text-decoration: none; }

span.title {
  color: #aeaeae;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-left: 18px;
  padding-right: 10px; }

span.num {
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 9px;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center; }

span.not {
  background: #08736b; }

span.mes {
  background: #2cb2a8; }

span.tas {
  background: #33363f; }

.bodyPart {
  width: 100%;
   }
  .bodyPart > ul {
    padding-top: 1px;
    width: 185px;
    background: #33363f;
    float: left; }
    .bodyPart > ul li {
      padding-left: 21px;
      height: 51px;
      border-top: 1px solid #4e515b;
      border-bottom: 1px solid #242730;
      position: relative; }
      .bodyPart > ul li a:hover {
        text-decoration: none; }
      .bodyPart > ul li a i {
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        margin-top: 14px;
        background-image: url("../img/logo_css.png");
        background-repeat: no-repeat; }
        .bodyPart > ul li a i.dash {
          background-position: 1px -60px; }
        .bodyPart > ul li a i.post {
          background-position: 1px 1px; }
        .bodyPart > ul li a i.users {
          background-position: -96px -24px; }
        .bodyPart > ul li a i.media {
          background-position: -47px 3px; }
        .bodyPart > ul li a i.Pages {
          background-position: -95px 1px; }
        .bodyPart > ul li a i.comments {
          background-position: -119px 1px; }
        .bodyPart > ul li a i.Forum {
          background-position: -71px 1px; }
        .bodyPart > ul li a i.topics {
          background-position: -167px 1px; }
        .bodyPart > ul li a i.replies {
          background-position: -47px -24px; }
        .bodyPart > ul li a i.appear {
          background-position: -143px 1px; }
        .bodyPart > ul li a i.plugins {
          background-position: -23px 1px; }
        .bodyPart > ul li a i.Tools {
          background-position: 1px -24px; }
        .bodyPart > ul li a i.Settings {
          background-position: -23px -23px; }
      .bodyPart > ul li a span {
        font-size: 14px;
        height: 50px;
        width: 88px;
        line-height: 50px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding-left: 36px;
        color: #7f8081; }
      .bodyPart > ul li a span.num {
        color: #dfdfdf;
        font-size: 12px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 19px;
        height: 19px;
        border-radius: 9px;
        background: #636363;
        line-height: 19px;
        padding-left: 0;
        text-align: center; }
    .bodyPart > ul li.on {
      background: #212430;
      border-bottom: 1px solid #1d212d;
      border-top: 1px solid #33363f;
      margin-bottom: -1px;
      z-index: 10; }
      .bodyPart > ul li.on span {
        color: #3db4ad; }
    .bodyPart > ul li.forum {
      padding-top: 32px; }
    .bodyPart > ul li.appear {
      padding-top: 37px; }
    .bodyPart > ul li.settings {
      padding-bottom: 580px; }

.main {
  float: left;
  padding-left: 25px; }

ul.visitor_ban {
  padding-top: 24px; }
  ul.visitor_ban:after {
    content: "";
    clear: both;
    display: block; }
  ul.visitor_ban li {
    background: #fff;
    width: 137px;
    height: 70px;
    padding-top: 18px;
    padding-left: 83px;
    border-bottom: 3px solid #cccccc;
    float: left;
    margin-right: 20px; }
    ul.visitor_ban li a:hover {
      text-decoration: none; }
    ul.visitor_ban li a img {
      position: absolute;
      margin-left: -66px; }
    ul.visitor_ban li a h6 {
      font-weight: normal;
      color: #484b52;
      font-size: 12px;
      margin-bottom: 18px; }
    ul.visitor_ban li a span {
      font-size: 16px;
      color: #33363f; }
    ul.visitor_ban li a span.mail {
      font-size: 12px; }

.form_field {
  width: 940px;
  background: #fff; }
  .form_field .title {
    padding-left: 12px;
    height: 39px;
    border-bottom: 3px solid #cccccc;
    margin-top: 20px; }
    .form_field .title > span {
      font-size: 15px;
      line-height: 39px; }

.sign_box {
  padding-left: 16px;
  border-left: 1px solid #cccccc;
  float: right;
  height: 39px; }
  .sign_box i.triangle, .sign_box i.x {
    width: 15px;
    height: 15px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: right;
    margin-right: 16px;
    margin-top: 13px;
    cursor: pointer;
    background-image: url("../img/logo_css.png");
    background-repeat: no-repeat; }
  .sign_box i.triangle {
    background-position: -144px -24px; }
  .sign_box i.x {
    background-position: -120px -24px; }

.form, .fourCharts {
  width: 940px;
  border-bottom: 3px solid #cccccc; }

.form {
  height: 350px; }

.fourCharts {
  height: 480px; }
  .fourCharts .top_part {
    height: 38%;
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 10px; }
  .fourCharts .down_part {
    height: 59%; }
  .fourCharts .top_part, .fourCharts .down_part {
    width: 100%; }
    .fourCharts .top_part .pieCt, .fourCharts .top_part .sliderCt, .fourCharts .down_part .pieCt, .fourCharts .down_part .sliderCt {
      width: 50%;
      height: 100%;
      float: left; }

table {
  width: 100%;
  height: 190px;
  background: #fff; }
  table th {
    height: 48px;
    background: #edf7f9;
    font-weight: normal;
    color: #898989;
    padding-left: 17px;
    text-align: left; }
  table td {
    font-size: 12px;
    height: 39px;
    padding-left: 17px;
    border-bottom: 1px dashed #eee;
    border-right: 1px dashed #eee; }
    table td > a:hover {
      text-decoration: none; }
    table td:nth-child(1) {
      font-weight: bold;
      padding-left: 45px; }
      table td:nth-child(1) i {
        width: 0;
        height: 0;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        position: absolute;
        margin-left: -20px;
        margin-top: 3px; }
      table td:nth-child(1) i.blue {
        border: 4px solid #0b97d4; }
      table td:nth-child(1) i.orange {
        border: 4px solid #ff774e; }
      table td:nth-child(1) i.green {
        border: 4px solid #00c794; }
    table td:nth-child(2) {
      color: #6bb4df; }
    table td:nth-child(3) {
      color: #000; }
    table td:nth-child(4) {
      color: #fff; }
    table td:last-child {
      color: #000; }
      table td:last-child i.arrow {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 16px;
        height: 22px;
        background-image: url(../img/arrowDown.png); }
    table td span {
      padding: 5px 9px; }
    table td span.green {
      background: #6fc831; }
    table td span.yellow {
      background: #ffc800; }
    table td span.red {
      background: #ff5b65; }
